@charset "UTF-8";
@import url("header-gnb.css");

/* header-gnb-wide */
@media only screen and (min-width:1025px) {
    .header .gnb-wrap .gnb > ul > li .depth2-wrap .depth2 > li .depth3 { display:block;}
    .header .gnb-wrap .gnb > ul > li .depth2-wrap .depth2 > li .depth3 > li > a { display:block;position:relative;padding:2px 4px 2px 24px;text-align:left;font-size:15px;font-weight:400;color:#777;}
    .header .gnb-wrap .gnb > ul > li .depth2-wrap .depth2 > li .depth3 > li > a:before { content:"";display:block;width:4px;height:2px;position:absolute;left:12px;top:10px;background-color:#777;border-radius:50%;}
}